




<ul>
  <li> <a routerLink="client">Client</a></li>
  <li> <a routerLink="work">Login</a></li>
  <li> <a routerLink="category">Category</a></li>
  <li> <a routerLink="article">Article</a></li>
</ul>

<router-outlet></router-outlet>








<!-- <h1>The Fist App</h1>

<app-login></app-login>

<h1>Hello, {{name | uppercase}} , the Age {{age | currency:'usd'}}</h1>


<input type="text" [(ngModel)]='name' (click)='clickfun();'>
<input type="text" [value]="age">

<select (change)='onchange();'>
  <option *ngFor="let color of colors">
    {{color}}
  </option>
</select>

<input type="button" [value]="logStatus" (click)='toggle();'>

<div *ngIf="isAuth; then welcome else error"></div>

<ng-template #welcome>
  <p style="color: green;">
    welcome to the App!
  </p>
</ng-template>

<ng-template #error>
  <p style="color: red;">
    Plz, Login!
  </p>
</ng-template> -->